<div *ngIf="!data.isDelete; else isDelete" class="wrapper" [formGroup]="form">
  <h5 class="heading">Employee Details</h5>
  <mat-form-field appearance="fill">
    <mat-label>Employee Id</mat-label>
    <input formControlName="id" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Employee Name</mat-label>
    <input formControlName="name" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Designation</mat-label>
    <input formControlName="designation" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput formControlName="joining_date" [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="button-wrapper">
    <button
      mat-raised-button
      color="primary"
      (click)="postEmployeeDetails()"
      style="margin-right: 20px"
    >
      Add Employee
    </button>

    <button
      mat-raised-button
      class="update-btn"
      *ngIf="data.isUpdate"
      (click)="updateEmployee()"
      style="margin-right: 20px"
    >
      Update Employee
    </button>
    <button mat-raised-button color="warn" (click)="close()">Close</button>
  </div>
</div>

<ng-template #isDelete>
  <h1 mat-dialog-title>Delete Employee</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to delete this employee?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="update-btn" (click)="close()">
      Cancel
    </button>
    <button mat-raised-button color="warn" (click)="deleteEmployee()">
      Delete
    </button>
  </div>
</ng-template>
