.wrapper {
  display: grid;
  min-width: 500px;
  width: 100%;
}

.heading {
  font-size: 24px;
  margin-bottom: 2rem;
}

.add-btn {
  background: var(--mat-primary);
  color: white;
  width: fit-content;
  margin-right: 20px;
}

.update-btn {
  background-color: var(--mat-secondary);
}

.button-wrapper {
  display: flex;
  margin-left: auto;
  margin-top: 1rem;
}
